.clear-cart {
  border: 1px solid red;
}

.check-btn {
  width: 100%;
}

.text-red {
  color: red;
}

.table {
  max-width: 100% !important;
}

.my-tr0 {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}