body {
  overflow-x: hidden;
}

.my-aside {
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  max-height: 50vh;
  width: 25%;
  transition: 2s;
  padding: 15px;
  transform: translateX(0);
  z-index: 5;
}


.hide-aside {
  /* display: none; */
  transform: translateX(-100%);
}

.aside-cont {
  position: absolute;
  z-index: 201;
  padding: 10px;
  top: 0;
  /* background-color: #eee; */
  width: 100%;
  right: 0;
  background-color: white;
  max-height: 100vh;
  overflow-y: auto;
}

.aside-cont button {
  background-color: transparent;
  border: none;
}

.lay {
  position: relative;
  top: -15px;
  right: -104%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(32, 31, 31, 0.632);
  z-index: 150;
}

.hide-aside>.lay {
  display: none;
}

.list-group {
  max-height: 100%;
}

@media (max-width:900px) {
  .my-aside {
    width: 70%;
  }
  
}